.person-card img{
    object-fit: contain;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.person-card{
    border-radius: 16px;
    /* border: solid ; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    background-color: white;
    margin: 20px;
    padding: 10px;
    width: 200px;
    box-shadow: -2px 3px 10px 0px rgba(0,0,0,0.75);
 -webkit-box-shadow: -2px 3px 10px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: -2px 3px 10px 0px rgba(0,0,0,0.75)
    
}
